<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>

	<module name="railsim">
		<param name="accelerationDefault" value="0.5"/>
		<param name="decelerationDefault" value="0.5"/>
		<param name="pollInterval" value="10.0"/>
		<param name="networkModes" value="rail"/>
		<param name="updateInterval" value="1.0"/>
	</module>

	<module name="global">
		<param name="randomSeed" value="4711"/>
		<param name="coordinateSystem" value="Atlantis"/>
	</module>

	<module name="controler">
		<param name="runId" value="smoke"/>
		<param name="outputDirectory" value="output/smoke"/>
		<param name="firstIteration" value="0"/>
		<param name="lastIteration" value="0"/>
	</module>

	<module name="qsim">
		<param name="startTime" value="00:00:00"/>
		<param name="endTime" value="24:00:00"/>
		<param name="snapshotperiod" value="00:00:00"/>
		<param name="mainMode" value="car"/>
		<param name="stuckTime" value="999999."/>
	</module>

	<module name="transit">
		<param name="routingAlgorithmType" value="SwissRailRaptor"/>
		<param name="transitScheduleFile" value="transitSchedule.xml"/>
		<param name="useTransit" value="true"/>
		<param name="usingTransitInMobsim" value="true"/>
		<param name="vehiclesFile" value="transitVehicles.xml"/>
	</module>

	<module name="network">
		<param name="inputNetworkFile" value="trainNetwork.xml"/>
	</module>

</config>
